.Book {
    border-radius: 6px;
    border: 2px solid #282c34;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 250px;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .14);
}

.Book-input {}

.Book-input-green {
    border-color: green;
}

.Book-input-red {
    border-color: red;
}

.Book-input-bold {
    border: 2px solid green;
    font-weight: bold;
}